  .fade-in {
    animation: slideUp 2s ease-out;
  }


  @keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    0% {
      transform: translateY(50%);
      opacity: .5;
  }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}